<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{ escape(handler.settings["title"]) }}</title>

        <link href="{{ static_url("libs/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet"/>
        <link href="{{ static_url("css/main.css") }}" rel="stylesheet"/>

        <script type="text/javascript" src="{{ static_url("js/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("libs/bootstrap/js/bootstrap.min.js") }}"></script>

        {% block head %}{% end %}
    </head>
    <body>
        <div id="header"></div>
        <div id="content" class="container">{% block content %}{% end %}</div>
        <div id="footer"></div>
    </body>
</html>