{% extends "base.html" %}

{% block content %}

<br/>



<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" >
                Panel s/lection config
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" >
                Basic panel example
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" >
                Basic panel example
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" >
                Basic panel example
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" >
                Basic panel example
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" >
                Basic panel example
            </div>
        </div>
    </div>
</div>







<table class="table">
    <tr>
        <th>test1</th>
        <th>test2</th>
        <th>test3</th>
        <th>test4</th>
    </tr>
    <tr>
        <td>test1</td>
        <td>test2</td>
        <td>test3</td>
        <td>test4</td>
    </tr>
</table>
{% end %}